
@model JB007.Models.TransLoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
@using (Html.BeginForm())
{
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Log In</h3>
                    </div>
                    <div class="panel-body">
                        <fieldset>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.objLoginModel.EmailAddress, new { @placeholder = "E-mail", @class = "form-control" })
                                <label>@Html.ValidationMessageFor(m => m.objLoginModel.EmailAddress)</label>
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.objLoginModel.Password, new { @placeholder = "Password", @class = "form-control" })
                                <label>@Html.ValidationMessageFor(m => m.objLoginModel.Password)</label>
                                <label style="color:#e80c4d;" id="verification">@ViewData["VerificationError"]</label>
                            </div>
                            @*<div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>*@
                            <!-- Change this to a button or input when using this as a form -->

                            <button class="btn btn-lg btn-success btn-block" type="submit">Log In</button>


                            <div class="modal-footer">
                                    <hr>
                                    Don't have an account yet? <a style="cursor: pointer;" href="@Url.Action("Registration","Account")">&nbsp;Register!</a>
                                </div>

                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Registration" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body…</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script type="text/javascript">
        $(document).ready(function () {
            
            $('input').focusin(function () {
                $("#verification").hide();
            });
        });

    </script>
}